<div class="container">
	<div class="starter-template">
		<h1>Google Trends Volume Correlation</h1>
		<p class="lead">
			Use Google Trends Terms to predict trading volume.
		</p>
		<form class="form-max-width" action="show">
			<div class="form-group">
				<label class="control-label" for="trend_term">Google Trends Term:</label>
				<input required type="text" id="trend_term" name="trend_term" class="form-control">
			</div>
			<div class="form-group">
				<label class="control-label" for="stock_symbol">Stock Symbol:</label>
				<input required type="text" id="stock_symbol" name="ticker" class="form-control">
			</div>
			<button type="submit" class="btn btn-primary">
				Submit
			</button>
		</form>
	</div>
</div><!-- /.container -->