<div class="container">
	<div class="starter-template">
		<h1>Google Trends Predictor</h1>
		<p class="lead">
			Predict the recent change in search trends
		</p>
		<form class="form-max-width" action="show">
			<div class="form-group">
				<label class="control-label" for="trend_term">Google Trends Term:</label>
				<input required type="text" id="trend_term" name="trend_term" class="form-control">
			</div>
			<button type="submit" class="btn btn-primary">
				Submit
			</button>
		</form>
	</div>