<div class="container">
<h1 style="text-align: center;"> Portfolio List </h1>
<div style="width:800px; margin:0 auto;">
  <div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Investment Count</th>
            <th>Total Revenue</th>
        </tr>
        </thead>
        <tbody>
        <% @portfolios.each do |portfolio| %>
            <tr>
              <td><%= portfolio.name %></td>
              <td><%= link_to portfolio.investments.size, portfolio_investments_path(portfolio) %></td>
              <td><%= portfolio.totalRevenue  %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
  </div>
</div>
</div>
