<div class="container">
	<div class="starter-template">
		<h1>Google Trends Strategy</h1>
		<p class="lead">
			Use Google Trends Terms to try to predict future stock prices.
		</p>
		<form class="form-max-width" action="google_trends_strategy/show">
			<div class="form-group">
				<label class="control-label" for="trend_term">Google Trends Term:</label>
				<input required type="text" id="trend_term" name="trend_term" class="form-control">
			</div>
			<div class="form-group">
				<label class="control-label" for="stock_symbol">Stock Symbol:</label>
				<input required type="text" id="stock_symbol" name="stock_symbol" class="form-control">
			</div>
			<button type="submit" class="btn btn-primary">
				Submit
			</button>
		</form>
	</div>
</div><!-- /.container -->
